.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}

.nav .nav__link,
.auth-nav .nav__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .nav__link {
  color: #757575;
}

.auth-nav__icon-envelope {
  width: 16px;
  height: 12px;
}

.auth-nav__icon-smartphone {
  width: 10px;
  height: 16px;
}

@media (max-width: 768px) {
  .nav__link,
  .auth-nav {
    display: none;
  }
}

.web {
  color: #2196f3;
}

.nav__logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

@media (max-width: 768px) {
  .nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer__logo {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.active {
  color: #2196f3;
}

.active::after {
  content: '';
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.hero .hero__title {
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero {
  max-width: 1600px;
  padding: 200px 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-color: #2f303a;
}

.main-button {
  display: block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  background-color: #5388eb;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 60px 0 60px 0;
  }
}

.priorities__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  .priorities__title {
    text-align: center;
  }
}

.priorities__text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 780px) {
  .priorities__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

.priorities__icon {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.priorities__icon-antenna {
  width: 65.32px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .priorities__icon-antenna {
    margin: 25px 192.34px;
  }
}

.priorities__icon-clock {
  width: 66.96px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .priorities__icon-clock {
    margin: 25px 192.34px;
  }
}

.priorities__icon-diagram,
.priorities__icon-astronaut {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .priorities__icon-diagram,
  .priorities__icon-astronaut {
    margin: 25px 192.34px;
  }
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__label-item {
  position: relative;
}

.activity__label-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section.no-padding {
  padding-top: 0px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}

.team-bkg {
  background-color: #f5f4fa;
}

.team-list {
  margin-top: 50px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list__footer {
  background-color: #ffffff;
  padding: 30px 0 30px 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.regular-clients .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-list__link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  margin-bottom: 94px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.5px;
  height: 45.5px;
}

footer {
  position: relative;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  margin-right: 70px;
}

.footer__list {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list .footer__dates:hover,
.footer__list .footer__dates:focus {
  color: #2196f3;
}

.footer__address {
  margin-top: 20px;
}

.footer__item:not(:first-child) {
  margin-top: 9px;
}

.footer__item {
  color: #ffffff;
}

.footer__dates {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__transp {
  color: rgba(255, 255, 255, 0.6);
}

.join .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.join__item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.join__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover,
.join__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.join__icon {
  width: 20px;
  height: 20px;
}

/* Footer form */
.subscribe {
  margin: 0;
}

.subscribe .subscribe__title {
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #ffffff;
}

.subscribe__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover,
.footer__button:focus {
  background-color: #5388eb;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
}

.subscribe__input::placeholder {
  display: inline-block;
  padding: 15px 295px 15px 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  border: 1px solid #2196f3;
}

.modal__close-icon {
  position: absolute;
  top: 15%;
  left: 15%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__title {
  margin-bottom: 12px;
  font-style: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal__wrap {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: secondary-text-color;
  margin-bottom: 4px;
}

.modal__field:not(:first-child) {
  margin-top: 10px;
}

.modal__input-wrap {
  position: relative;
}

.modal__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__check {
  margin-top: 20px;
  padding-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.modal__link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button.btn-modal {
  margin-top: 30px;
}

.modal__check-icon {
  position: absolute;
  top: 76%;
  left: 50px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.modal__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check-input:checked + .modal__check-icon {
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-color: #2196f3;
  border: none;
}

/* Portfolio */
.main {
  background-color: #ffffff;
}

/* Filter Portfolio */
.filter__items .btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__items .btn:hover,
.filter__items .btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content__item {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content .content__item:hover,
.content .content__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-footer__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-transform: none;
}

.item-footer__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.item-footer {
  padding: 20px 24px;
}

/* Portfolio Overlay */
.portfolio-thumb {
  overflow: hidden;
}

.portfolio-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
}

.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.content__item:hover .portfolio-overlay {
  transform: translateY(0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */