.activity {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__label-item {
  position: relative;
}

.activity__label-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: $special-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section.no-padding {
  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}
