.hero .hero__title {
  color: $special-text-color;
  font-weight: 900;
  // font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  // width: 696px;
  // margin: 0 auto 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero {
  max-width: 1600px;
  // margin-right: auto;
  // margin-left: auto;
  // text-align: center;
  // display: flex;
  // align-items: center;
  padding: 200px 0;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-color: #2f303a;
}
