.web {
  color: $accent-color;
}

.nav__logo {
  color: $logo-color;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  // padding-top: 24px;
  // padding-bottom: 24px;

  @media (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer__logo {
  color: $special-text-color;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
