.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767.98px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: $special-text-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1199.98px) {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 450px;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  background-color: $special-text-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.modal__close-icon {
  position: absolute;
  top: 15%;
  left: 15%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: $accent-color;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__title {
  margin-bottom: 12px;
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: $primary-text-color;
}

.modal__wrap {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  outline: 0;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    outline-color: $accent-color;
  }
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: $accent-color;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__check {
  margin-top: 20px;
  padding-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $accent-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button.btn-modal {
  margin-top: 30px;
}

.modal__check-icon {
  position: absolute;
  top: 75%;
  left: 50px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    top: 78.2%;
    left: 45px;
  }
}

.modal__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check-input:checked + .modal__check-icon {
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-color: $accent-color;
  border: none;
}
