.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.active {
  // position: relative;
  color: $accent-color;
}

.active::after {
  content: '';

  // position: absolute;
  // left: 0;
  // bottom: 0;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
}
