.section.no-padding {
  padding-top: 0px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}

.team-bkg {
  background-color: #f5f4fa;
}

.team-list {
  // display: flex;
  margin-top: 50px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.team-list__job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.team-list__footer {
  background-color: $special-text-color;
  padding: 30px 0 30px 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
